@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --buttonBlue: #107ec3;
  --buttonBlueHover: #3998d3;
  --titleGradient: linear-gradient(to bottom, #bfa3da, #84309c, #c735b0);
  --blueGradient: linear-gradient(to bottom, #b8bfea, #8996de, #6476da);
  --lightTransaprent: rgba(255, 255, 255, 0.3);
  --darkBlue: #042032;
  --green: rgb(170, 252, 87);
  --greenTransparent: rgba(170, 252, 87, 0.07);
  --darkGreen: rgba(202, 243, 140, 0.3);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  /* color: #e7e8e8; */
  /* background: #070707; */
  /* background: linear-gradient(to bottom, #005c97, #363795,  #17186e); */
  /* background: linear-gradient(to bottom, #005c97, #0d0f77,  #010216); */
  background: linear-gradient(
    60deg,
    #000000,
    #282a11,
    #010216,
    #010216,
    #010216,
    #010216,
    #1b1d0c,
    #010216,
    #010216,
    #383b18
  );
  /* background: linear-gradient(60deg, #ffffff, #f0f0e7, #ffffff,  #ffffff,#010216,  #010216,  #1b1d0c,#010216,  #bdc9bd,   #e8e9e2); */
  /* min-height: 4096px; */
}

.indexPageHeader {
  /* min-height: 500px; */
  background-size: cover;
  background-position: center;
}

.carousel {
  height: 600px;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.carousel-inner {
  min-height: 400px;
}
.indexPageHeader h2 {
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(175, 175, 175),
    rgb(255, 255, 255),
    rgb(187, 187, 187),
    rgb(240, 240, 240)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.imgBox {
  position: relative;
  display: flex;
  width: 80% !important;
  height: auto !important;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.imgBox img {
  width: 100%;
}
.parcelBox {
  position: relative;
  display: flex;
  width: 80%;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.parcelBox img {
  transition: all 0.2s ease-in-out;
  width: 100%;
  /* transform: rotateY(180); */
}
.parcelBox img:hover {
  scale: 1.2;
  transform: translateY(-20px);
}
.nftBox {
  position: relative;
  display: flex;
  width: fit-content;
  border-radius: 1rem;
  border: 1px solid rgba(66, 65, 65, 0.2);
  margin-left: auto;
  margin-right: auto;
}
.nftBox img {
  transition: all 0.15s ease-in-out;
}
.nftBox img:hover {
  scale: 1.3;
}
.townImage {
  opacity: 50%;
}
.mainPageTextContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.mainPageTextContainer h1 {
  font-weight: bold;
  font-size: 4rem;
  font-style: italic;
  text-shadow: 0.1rem 0.2rem 0.3rem rgba(255, 255, 255, 0.2);
}
.mainPageTextContainer h2 {
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  /* text-shadow: 0.1rem 0.2rem 0.3rem rgba(255, 255, 255, 0.2); */
}
.mainPageTextContainer h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(
    to left,
    rgb(242, 244, 221),
    rgb(226, 229, 190),
    rgb(241, 242, 233),
    rgb(239, 242, 206),
    rgb(225, 227, 207)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.mainPageTextContainer h4 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  background: linear-gradient(
    to left,
    rgb(242, 244, 221),
    rgb(226, 229, 190),
    rgb(241, 242, 233),
    rgb(239, 242, 206),
    rgb(225, 227, 207)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainPageTextContainer h5 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.landCard {
  display: block;
  width: fit-content;
  background-color: rgba(170, 252, 87, 0.07);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  text-align: center;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.landCard img {
  height: 160px;
  width: 100%;
  left: 0;
  justify-self: center;
  transition: transform 0.15s ease;
  margin-bottom: 2rem;
}
.landCard h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.landCard img:hover {
  transform: scale(1.1);
}
.landCard p {
  color: rgb(220, 220, 220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}
.greenButton {
  color: black !important;
  padding: 1rem;
  border-radius: 1.3rem;
  background: linear-gradient(
    to left,
    rgb(170, 252, 87),
    rgb(189, 246, 132),
    rgb(170, 252, 87),
    rgb(170, 252, 87)
  );
  border: 2px solid rgb(170, 252, 87);
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.greenButton:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
}
.sGreenButton {
  margin-right: 0.5rem;
  min-width: 60px;
  padding: 0.24rem;
  border-radius: 0.2rem;
  background: linear-gradient(
    to left,
    rgb(170, 252, 87),
    rgb(189, 246, 132),
    rgb(170, 252, 87),
    rgb(170, 252, 87)
  );
  border: 1px solid rgb(170, 252, 87);
  font-size: 0.9rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.sGreenButton:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.sGreenButton:disabled {
  color: black;
  background: rgb(68, 124, 12);
  border-color: rgb(68, 124, 12);
}
.sGreenButton:disabled:hover {
  color: black;
}
.workerStatusBox {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.workerStatusBox h4 {
  margin-top: 1rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
}
.workerStatusBox h3 {
  margin-top: 1rem;
  color: white;
  background-color: var(--darkGreen);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}
.spinner-grow {
  color: var(--darkGreen) !important;
}
/* .btn-outline-light{
  background-color: white !important;
} */
.btn-success {
  background-color: rgb(170, 252, 87) !important;
  color: black !important;
  border-color: rgb(170, 252, 87) !important;
  margin-bottom: 0.5rem;
  min-width: 80px;
}
.btn-success:hover {
  background-color: rgb(112, 172, 53) !important;
  color: black !important;
  border-color: rgb(112, 172, 53) !important;
}
.btn-success:disabled {
  background-color: rgb(112, 172, 53) !important;
  border-color: rgb(112, 172, 53) !important;
  color: #000000 !important;
}
.textBox {
  min-height: 100px;
  padding: 1.7rem;
  /* margin: 2rem; */
  border-radius: 3rem;
  background-color: rgba(170, 252, 87, 0.07);
  margin-bottom: 2rem;
  /* width: 80%; */
}
.textBox h4 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}
.arrowCol {
  display: block;
  color: white;
  text-align: center;
  width: fit-content;
}
.arrowCol h1 {
  margin-top: 90px;
}
.landGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 30rem;
  height: 30rem;
  padding: 0.2rem;
  transform: perspective(600px) rotateY(0deg) scale(1.2) rotateX(30deg);
  transition: 0.6s ease all;
  background-color: khaki;
  border-radius: 10px;
}
.viewGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  width: 30rem;
  height: 30rem;
  padding: 0.6rem;
  transform: perspective(600px) rotateY(0deg) scale(1.1) rotateX(25deg)
    rotateZ(10deg);
  transition: 0.6s ease all;
  background-color: khaki;
  /* background-image: url("../public/map/map2.jpg"); */
  object-fit: fill;
  border-radius: 10px;
}

.item {
  /* color: transparent; */
  display: block;
  justify-content: center;
  height: fit-content;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 2px;
  overflow: hidden;
  width: 99%;
  height: 99%;
  transition: all 0.3s ease-in-out;
  margin-bottom: 7%;
  box-shadow: 0 0px 0.2rem 0.01rem rgba(0, 0, 0, 0.9);
  position: relative;
  cursor: pointer;

  align-items: center;
  text-align: center;
}
.item:hover {
  background-color: rgb(50, 174, 50);
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.item img:hover {
  opacity: 0.7;
}

.custom-tooltip .tooltip-inner {
  /* background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3); */
  color: white !important;
  height: 30px !important;
  z-index: 989;
}
.custom-tooltip {
  /* background-color: white !important; */

}
.textButton {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s ease all;
  color: lightgray;
  margin: 1rem;
  width: fit-content;
  font-style: italic;
}
.textButton:hover {
  color: white;
}
.attackRouteButton {
  color: white;
  padding: 0.5rem;
  margin-block: auto;
  border-radius: 0.3rem;
  font-style: italic;
  cursor: pointer;
  display: flex;
  /* max-width: 60px; */
  /* border: 2px solid white; */
  background-color: rgba(88, 88, 88, 0.5);
}
.attackRouteButton img {
  width: 40px !important;
}
.attackRouteButton:hover {
  background-color: rgb(88, 88, 88);
}
.attackRouteButton h4 {
  margin-block: auto;
  margin-right: 1rem;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.h3Text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  font-style: italic;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  transition: 0.3s ease all;
}

.defaultP {
  margin-top: 30%;
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH5 {
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH4 {
  font-size: 0.9rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH3 {
  font-size: 1.1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH2 {
  font-size: 1.4rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(
    to right,
    rgb(175, 175, 175),
    rgb(255, 255, 255),
    rgb(187, 187, 187),
    rgb(240, 240, 240)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.scrollableScreen {
  overflow-y: auto;
  padding-top: 3%;
  padding-bottom: 5%;
  min-height: 1024px;
  /* background-image: url(/War4.png);
  background-size: cover; */
}
.landImg {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.15s ease-in-out;
}

.itemCard {
  display: block;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  min-height: 360px;
  border-radius: 0.7rem;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}
.cardImage {
  position: relative;
  width: 180px;
  height: 240px;
  border-radius: 0.7rem;
  overflow: hidden;
}

.cardImage img {
  transition: transform 0.15s ease;
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  object-fit: contain;
  overflow: hidden;
}

.cardImage img:hover {
  transform: scale(1.2);
}
.cardImg {
  transition: transform 0.15s ease;
}
.cardImg:hover {
  transform: scale(1.1);
}
.defaultCard {
  background-color: var(--lightTransaprent);
  max-width: 12rem;
  margin-bottom: 5rem;
}

.selectedLandWindow {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.transferCol {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--greenTransparent);
}

.myLandHeader {
  display: flex;
  justify-content: space-between;
  color: white;
}

.myLandHeader p {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  background-color: rgba(170, 252, 87, 0.07);
  /* border-top: 2px solid greenyellow; */
  padding: 0.5rem;
  margin-block: auto;
  border-radius: 0.3rem;
  margin-left: 1rem;
} 
.selectedLandP{
  background-color: greenyellow !important;
  color: black !important;
}
.myLandHeader p:hover {
   background-color: greenyellow;
   color: black;
   cursor: pointer;
}
.myLandHeader h2 {
  width: 8rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-block: auto;
}
.myLandsContainer{
  display: flex;
margin-right: auto;
padding: 0.2rem;
justify-content: flex-start;
}
.landBoxColumn {
  display: block;
  width: 50%;
  padding: 1rem;
}
.balanceHeader {
  justify-content: space-between;
  display: flex;
  /* padding: 1rem; */

}
.balanceHeader h6 {
  color: rgb(221, 221, 221);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.3rem;
  margin-right: 2rem;
  font-size: 0.8rem;
}

.balanceHeader img {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
/* 
.selectDropdown {
  width: fit-content !important;
  background-color: var(--darkGreen) !important;
  color: white !important;
}
.selectDropdown:hover {
  border-color: white !important;
  border-left: 2px solid grey;
} */

.weaponIcon {
  width: 25px;
  height: 25px;
}

.popUpConfirmation {
  /* background-color: black !important; */
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: black !important;
  /* color: rgb(237, 255, 211) !important; */
  width: 250px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 1rem 0.2rem rgba(198, 248, 169, 0.3); */
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.9) !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid rgba(94, 110, 85, 0.3);
}
.popUpConfirmation .defaultH3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: rgb(237, 255, 211) !important; */
  color: #000000;
  font-size: 1.2rem;
}

.transactionResultWindow {
  position: relative;
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
  width: fit-content;
  width: 25rem;
  /* width: 400px; */
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.transactionResultWindow p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;

}
.transactionResultWindow h4 {
  margin-top: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.closeButton {
  padding: 0.2rem;
  margin-left: auto;
}
.closeButton:hover {
  background-color: rgb(226, 231, 244);
}

.errorContainer {
  
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(232, 232, 232);
  height: 100px; /* Adjust the height as per your requirement */
  overflow-y: scroll;
  padding: 0.3rem;
  border: 2px solid rgb(182, 182, 182);
  border-radius: 0.3rem;
  width: 100%;
  min-height: 10rem;
}
.errorContainer p {
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.listItemColumn {
  display: block;
  width: 100%;
}
.listItemInfo {
  display: flex;
  background-color: rgba(170, 252, 87, 0.07);
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  text-align: center;
}
.listItemInfo img {
  height: 160px;
  width: 200px;
  left: 0;
  justify-self: center;
  transition: transform 0.15s ease;
}
.listItemInfo h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.listItemInfo img:hover {
  transform: scale(1.1);
}
.InfoColumn {
  position: static;
  display: block;
  width: 30%;
  height: 100%;
  justify-content: space-around;
}
.listItemColumn p {
  font-size: 0.8rem;
  color: rgb(214, 214, 214);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 0.5rem;
  font-weight: 500;
}
.commodityLogo {
  height: 15px !important;
  width: 15px !important;
}
.commodityBalance {
  display: flex;
  height: 25px;
  text-align: center;
  width: 100% !important;
  justify-content: space-around;
}

.buildingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100% !important;
  min-width: 200px;
  background-color: var(--lightTransaprent);
}
.buildingCard p {
  font-size: 0.8rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buildingCard img {
  height: 220px;
  width: 100%;
  padding: 1rem;
}
.buildingCard .cardBody {
  flex-grow: 1;
}
.buildingCard .cardBody .buttonContainer {
  display: flex;
  justify-content: space-between;
}

.accordion {
  background-color: transparent !important;
  background: none !important;

}
.accordion-item {
  background-color: transparent !important;
  color: rgba(170, 252, 87, 0.07) !important;
  border: none !important;
}
.accordion-button {
  background-color: var(--darkGreen) !important;
  color: white !important;

  
  
}
.accordion-button:focus {
  box-shadow: none;

}
/* .accordion-header {
  background-color: black;
} */

.accordion-collapse {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 2px solid rgba(170, 252, 87, 0.07) !important;
}
.accordion-body {
  background-color: transparent !important;

}

.warriorImage {
  height: 9rem !important;
  width: 8rem !important;
}
.attackBoxColumn {
  display: block;
  background-color: var(--greenTransparent);
  height: fit-content;
  min-height: 300px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.form-control {
  background-color: #ebece1;
}
.form-control:disabled {
  background-color: #cacbbd !important;
}
.warriorInfoBox .form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.warriorInfoBox .btn-outline-light:hover {
  background-color: rgba(145, 230, 162, 0.2);
  color: white;
}
.dropdown-toggle {
  background-color: transparent !important;
  color: white !important;
}
.dropdown-toggle:hover {
  background-color: rgba(145, 230, 162, 0.1) !important;
}
.dropdownTokenLogo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.dropdown-menu {
  background-color: rgb(228, 234, 220);
  width: fit-content !important;
}
.dropdown-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.dropdown-item:hover {
  background-color: #011207;
  color: white;
}

/* .attackBoxColumn .dropdown-menu{
  background-color: white !important;
} */
.warImg {
  width: 100% !important;
  height: auto;
  margin-top: 100px;
}
.BalTableCol {
  padding: 1rem;
}
.BalTableCol img {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.table {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.tableLine {
  background-color: transparent !important;
  color: white !important;
}
.warHistoryCol {
  height: 300px;
  background-color: var(--greenTransparent);
  border-radius: 1rem;
  padding: 1rem;
}
.warHistoryCol h2 {
  color: white;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1.8rem;
}
.warHistory {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  height: 200px; /* Adjust the height as per your requirement */
  overflow-y: scroll;
  padding: 0.5rem;
  border: 2px solid rgb(39, 48, 42);
  border-radius: 0.3rem;
}
.warriorCol {
  padding: 1rem;
}
.warriorCol img {
  width: 100% !important;
  height: auto !important;
  /* box-shadow: 0 0 3rem 0.5rem rgba(112, 172, 53,0.4); */
  background-color: var(--greenTransparent);
  border-radius: 10rem;
  overflow: visible;
}
.warriorCol span {
  color: white;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-color: #0f1003; */
  width: fit-content;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-inline: 1rem;

  /* margin-left: auto;
  margin-right: auto; */
}
.warriorCol h3 {
  margin-top: 2rem;
  /* text-align: center; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background-color: var(--greenTransparent);
  border-radius: 0.3rem;
}
.warriorCard img {
  width: 100% !important;
  height: auto !important;
  background-color: var(--greenTransparent);
  border-radius: 10rem;
  overflow: visible;
  transition: transform 0.15s ease;
}
.warriorCard .commodityLogo {
  width: 25px !important;
  height: 25px !important;
  background-color: transparent !important;
}

.warriorInfoBox {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.warriorInfoBox h2 {
  font-size: 1.5rem;
}
.warriorInfoBox p {
  margin-bottom: 5px !important;
  font-size: 0.9rem;
}

.footer {
  margin-top: 30rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.footer h4 {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer p {
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}
.footer p:hover {
  color: darkgrey;
}
.tokenomicsImg {
  width: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 15rem;
  box-shadow: 0 0rem 2rem 0.2rem rgba(236, 255, 178, 0.2);
  border: 1px solid rgb(85, 88, 64);
  transition: transform 0.25s ease;
  margin-left: auto;
  margin-right: auto;
}
.tokenomicsImg:hover {
  transform: translateY(-10px) translateX(10px);
}
.tokenomicsImg img {
  width: 100%;
  overflow: hidden;
  transition: transform 0.25s ease;
}
.tokenomicsImg img:hover {
  transform: scale(1.2);
}
.documentation {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.documentation h2 {
  font-size: 1.5rem;
  border-bottom: 1px white solid;
  padding: 1rem;
  margin-bottom: 3rem;
}
.documentation h3 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.documentation h3:hover {
  background-color: rgb(58, 58, 58);
}
.sidebar {
  padding: 1rem;
  display: block;
  border-right: 2px solid white;
  min-height: 1024px;
}
.sidebarContent {
}
.mainPageCard {
  border-radius: 1rem;
  background: linear-gradient(
    170deg,
    #d0dab4,
    #969d83,
    #707561,
    #595d4d,
    #4c5141,
    #4c5141
  );
  margin-inline: 2rem;
  text-align: center;
  max-width: 300px;
}
.mainPageCard img {
  margin-top: 1rem;
  width: 99%;
  /* padding: 1rem; */
  /* background-color: #0a0b08; */
  border-radius: 1rem;
  margin-bottom: 5rem;
}
.textCard {
  width: 80%;

  background-color: var(--greenTransparent);
  border-radius: 2rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.textCard img {
  width: 100%;
  border-bottom: 2px solid rgb(61, 61, 60);
}
.textCard .mainPageTextContainer {
  width: 100%;
  padding: 1rem;
}
.textCard .mainPageTextContainer {
  text-align: center;
}
.warriorsContainer img {
  width: 100%;
}

.warriorsContainer {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}
.mainRow {
  margin-bottom: 20rem;
  min-height: 20rem;
}
.faucetBox {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-color: var(--greenTransparent);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0.5rem rgba(202, 243, 140, 0.3);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.faucetBox h2 {
  font-style: italic;
}
@media (max-width: 767px) {
  .myLandHeader{
    display: block;
  }
  .attackRouteButton {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .myLandsContainer {
    display: block;
  }
  .myLandsContainer p{
    text-align: center !important;
    margin-left: 0px !important;

  }
  .popUpConfirmation {
    background-color: #000000;
    box-shadow: none;
    width: fit-content;
  }
  .popUpConfirmation h3{
    font-size: 1.2rem !important;
  }
  .transactionResultWindow {
    padding: 0.5rem;
    max-width: 60%;
  }
  .transactionResultWindow h4{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .transactionResultWindow p{
    font-size: 0.9rem;
  }
  .textBox {
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
  .mainRow {
    margin-bottom: 15rem;
    min-height: 15rem;
  }
  .parcelBox img {
    width: 70% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
  .manImg {
    width: 8rem !important;
  }
  .womanImg {
    width: 7rem;
  }
  .infoRow {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .infoRow .mainPageTextContainer h5 {
    font-size: 1.1rem;
    padding: 0px;
    padding-bottom: 1rem;
  }
  .infoRowImg {
    width: 100%;
  }
  .infoRowImg img {
    border-right: none;
    border-bottom: 2px solid rgb(53, 60, 55);
  }
  .infoRow .mainPageTextContainer {
    width: 100%;
    padding: 1rem;
  }
  .mainPageTextContainer h1 {
    font-size: 2rem !important;
    text-align: center;
    display: block;
  }
  .greenButton {
    color: black !important;
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mainPageTextContainer h3 {
    font-size: 1.3rem !important;
  }
  .mainPageTextContainer h2 {
    font-size: 2rem;
    text-align: center;
  }
  .mainPageTextContainer h5 {
    padding: 1rem;
    /* text-align: justify; */
    text-align: center;
  }
  .infoRow .mainPageTextContainer h4 {
    text-align: center;
  }
  .warImg {
    width: 30%;
    margin-top: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .balanceHeader {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .buildingsColumn {
    padding: 1rem;
  }
  .balanceHeader h6 {
    font-size: 0.8rem;
  }
  .balanceHeader img {
    height: 20px;
    width: 20px;
  }
  .buildingInfo {
    display: block;
    text-align: center;
  }
  .InfoColumn {
    display: block;
    text-align: center;
    width: 100%;
  }

  .listItemInfo {
    display: block;
  }

  .defaultP {
    font-size: 0.45rem;
    margin-top: 15%;
    font-weight: 500;
  }

  .listItemInfo img {
    height: 120px;
    width: 160px;
    left: 0;
    justify-self: center;
  }
  .viewGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    width: 20rem !important;
    height: 20rem !important;
    padding: 0.2rem;
    transform: perspective(600px) rotateY(0deg) scale(1) rotateX(10deg);
    transition: 0.6s ease all;
    background-color: khaki;
    border-radius: 10px;
  }

  .item {
    height: fit-content;
    background-color: greenyellow;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 0.2rem 0.02rem rgba(0, 0, 0, 0.5);
  }
  .landGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-gap: 2px; */
    width: 17rem;
    height: 17rem;
    padding: 0.2rem;
    transform: perspective(300px) rotateY(0deg) scale(1) rotateX(5deg);
    transition: 0.6s ease all;
    background-color: khaki;
    border-radius: 10px;
  }
  /* .overlay .card {
    background-color: rgba(255, 255, 255, 0.6) !important;
  } */
  /* .card {
    background: white !important;
  } */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popUpConfirmation {
    /* background-color: #000000; */
    box-shadow: none;
    width: 200px;
  }
  .popUpConfirmation h3{
    font-size: 1.3rem !important;
  }
  .transactionResultWindow {
    padding: 0.5rem;
    max-width: 50%;
  }
  .transactionResultWindow h4{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .transactionResultWindow p{
    font-size: 1rem;
  }
  .mainPageTextContainer h1 {
    font-size: 3rem !important;
  }
  .mainPageTextContainer h3 {
    font-size: 2rem !important;
  }
  .textCard {
    display: flex !important;
    width: 100%;
  }
  .warImg {
    width: 100%;
  }
  .buildingCard img {
    height: 160px;
    width: 160px;
    max-width: 200px;
    padding: 0px;
  }
  .buildingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 160px;
    background-color: var(--lightTransaprent);
  }

  .viewGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    width: 25rem !important;
    height: 25rem !important;
    padding: 0.2rem;
    transform: perspective(600px) rotateY(0deg) scale(1.1) rotateX(20deg)
      rotateZ(-10deg);
    transition: 0.6s ease all;
    background-color: khaki;
    border-radius: 10px;
  }

  .item {
    height: fit-content;
    background-color: greenyellow;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 0.2rem 0.02rem rgba(0, 0, 0, 0.5);
  }
  .overlay .card {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
}
