@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --buttonBlue: #107ec3;
  --buttonBlueHover:#3998d3;
  --titleGradient: linear-gradient(to bottom,#bfa3da, #84309c, #c735b0);
  --blueGradient: linear-gradient(to bottom,#b8bfea, #8996de, #6476da); 
  --lightTransaprent: rgba(255, 255, 255, 0.3);
  --darkBlue: #042032;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  /* color: #e7e8e8; */
  /* background: #070707; */
  /* background: linear-gradient(to bottom, #005c97, #363795,  #17186e); */
  background: linear-gradient(to bottom, #005c97, #0d0f77,  #010216);

}

.landGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-gap: 2px; */
  width: 30rem;
  height: 30rem;
  padding: 0.2rem;
  transform:
  perspective(600px)
  rotateY(0deg) scale(1.2)
  rotateX(30deg);
  transition: 0.6s ease all;
  background-color: khaki;
  border-radius: 10px;
}
.viewGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  width: 30rem;
  height: 30rem;
  padding: 0.6rem;
  transform:
  perspective(600px)
  rotateY(0deg) scale(1.1)
  rotateX(25deg) rotateZ(10deg);
  transition: 0.6s ease all;
  background-color: khaki;
  border-radius: 10px;
}

.item {
  display:block;
  justify-content: center;
  /* align-items: top; */
  height: fit-content;
  background-color: greenyellow;
  border-radius: 2px;
  overflow: hidden;
  width: 99%;
  height: 99%;
  transition: all 0.3s ease-in-out;
  margin-bottom: 7%;
  box-shadow: 0 0px 0.2rem 0.01rem rgba(0, 0, 0, 0.9);
  position: relative;
  cursor: pointer;

  align-items: center;
  text-align: center;
  
}
.item:hover {
  background-color: green;
}
.item img:hover{
  opacity: 0.7;
}
.custom-tooltip .tooltip-inner{
  background-color: rgb(197, 217, 234);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  height: 30px !important;
}

.clickableH4 {
  text-align: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.6s ease all;
  color: lightgray;
  margin: 1rem;
  width: fit-content;
  /* border: 1px lightgray solid; */

}
.h3Text {
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
}

.clickableH4:hover {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  transition: 0.3s ease all;
}
/* 
.selectedLandWindow {
  display: block;
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
}
.selectedLandWindow button {
  margin-top: 10px;
  border: none;
  background-color: var(--buttonBlue);
  color:  white;
  border-radius: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s ease all;
}
.selectedLandWindow button:hover {
  background-color: var(--buttonBlueHover);
  color: white;
}

.selectedLandWindow p {
  text-align: left;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.3rem;
}
.selectedLandWindow h4 {
  text-align: left;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
} */

.defaultP {
  margin-top: 30%;
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH5{
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH4{
  font-size: 0.9rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH3{
  font-size: 1.1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defaultH2{
  font-size: 1.4rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to bottom, rgb(175, 175, 175),rgb(255, 255, 255), rgb(187, 187, 187),rgb(240, 240, 240) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: fit-content; */
  width: 100%;
}

.scrollableScreen {
  overflow-y: auto;
  height: 100vh;
  padding-top: 5%;
}
.landImg {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.15s ease-in-out;
}

.itemCard {
  display: block;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  min-height: 360px;
  border-radius: 0.7rem;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}
.cardImage {
  position: relative;
  width: 180px;
  height: 240px;
  border-radius: 0.7rem;
  overflow: hidden;
  /* box-shadow: 0px 0rem 0.7rem 0.01rem rgba(0, 0, 0, 0.8); */
  /* border: 1.5px solid rgba(245, 245, 245, 0.3); */
}

.cardImage img{
  transition: transform 0.15s ease;
  /* background-color: rgba(1, 0, 9, 0.); */
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  object-fit: contain;
  overflow: hidden;
}

.cardImage img:hover{
  transform: scale(1.2) 
}
.cardImg {
  transition: transform 0.15s ease;
}
.cardImg:hover {
  transform: scale(1.1) 
}
.defaultCard {
  background-color: var(--lightTransaprent);
  max-width: 12rem;
  margin-bottom: 5rem;
  /* color: white; */
}

.selectedLandWindow {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}

.myLandColumn {
  display: block;
}


.myLandBox {
  display: flex;
  padding: 1rem;
  background-color: var(--lightTransaprent);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
  min-height: 15rem;
}
.landBoxColumn {
  display: block;
  width: 50%;
  padding: 1rem;
}
.balanceHeader {
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  /* width: fit-content; */
}
.balanceHeader h6 {
  color: rgb(221, 221, 221);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.3rem;
  margin-right: 2rem;
  font-size: 0.8rem;
}

.balanceHeader img {
  height: 25px;
  width:  25px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.selectDropdown {
  width: fit-content !important;
  background-color: white !important;
  color: black !important;
  border: none;
  border-left: 2px solid grey;
}
.selectDropdown:hover{
  color: #000000;
}
.dropdownTokenLogo{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  /* style={{"width":"15px","height":"15px","marginRight":"10px" */
}
.weaponIcon{
  width: 25px;
  height: 25px;
}
.toolTipPopup{
  /* background-color: white !important;
  color: white !important;
  font-weight: lighter; */
}

/* .popUpConfirmation{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  z-index: 998;
  height: 120px;
  width: 160px;
  border-radius: 0.5rem;
  box-shadow:0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
} */
.popUpConfirmation{
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.3);
    /* border: 2px solid white; */
    white-space: pre-wrap;
    word-wrap: break-word;

}

.transactionResultWindow {
  /* background-color: rgba(255, 255, 255, 0.95); */
  background-color: white;
  width: 320px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.3);
  /* border: 2px solid white; */
  white-space: pre-wrap;
  word-wrap: break-word;
}
.transactionResultWindow p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  color: rgb(62, 62, 62);
}
.transactionResultWindow h4 {
  margin-top: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  color: rgb(13, 3, 37);
}
.closeButton{
  padding: 0.2rem;
  margin-left: auto;
}
.closeButton:hover {
  background-color: rgb(226, 231, 244);
}

.errorContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(226, 231, 244);
  height: 100px; /* Adjust the height as per your requirement */
  overflow-y: scroll;
  padding: 0.3rem;
  border: 1px solid rgb(189, 196, 214);
  border-radius: 0.3rem;
  width: 100%;
}
.errorContainer p {
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.closeButtonContainer{
  display: flex;
  width: 300px;
  position: absolute;
  /* margin-bottom: auto; */
}

.listItemColumn {
display: block;
width: 100%;
}
.listItemInfo {
display: flex;
background-color: rgba(255, 255, 255, 0.1);
padding: 0.5rem;
margin-top: 0.5rem;
border-radius: 0.5rem;
justify-content: space-between;
text-align: center;
}
.listItemInfo img{
  height: 160px;
  width: 200px;
  left: 0;
  justify-self: center;
  transition: transform 0.15s ease;
}
.listItemInfo h4{
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 0.9rem;
}
.listItemInfo img:hover{
  transform: scale(1.1) 
}
.InfoColumn{
  position: static;
  display: block;
  width: 30%;
  height: 100%;
  justify-content: space-around;
}
.listItemColumn p {
  font-size: 0.8rem;
  color: rgb(214, 214, 214);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 0.5rem;
  font-weight: 500;

}
.commodityLogo{
  height: 15px !important;
  width: 15px !important;
}
.commodityBalance {
  display: flex;
  height: 25px;
  text-align: center;
  width: 100% !important;
  justify-content: space-around;
  /* margin-top: 0.5rem; */
}

.buildingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  width: 100% !important;
  min-width: 200px;
  background-color: var(--lightTransaprent);
}
.buildingCard p{
  font-size: 0.8rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buildingCard img {
  height: 220px;
  width: 100%;
  padding: 1rem;
  /* object-fit: cover; */
}
.buildingCard .cardBody {
  flex-grow: 1;
}
.buildingCard .cardBody .buttonContainer {
  display: flex;
  justify-content: space-between;
}
.accordionBackground {
  background-color: rgba(22, 5, 58, 0.4)!important;
}
/* .accordion .accordion-item {
  background-color: #03000d !important;
  color: #000000 !important;
} */
.accordion :first-child{
  border: none;
}
.warriorImage{
  height: 10rem !important;
  width: 8rem !important;
}
.overlay .card-body{
  /* padding: 0px !important; */
}

.attackBoxColumn{
  display: block;
  background-color: var(--lightTransaprent);
  height: fit-content;
  min-height: 300px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.warImg {
  /* height: 40px; */
  width: 100%;
  margin-top: 100px;
  
}

@media (max-width: 767px) {
  .warImg {
    width: 30%;
    margin-top: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
  }
  .balanceHeader {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .buildingsColumn {
    padding: 1rem;
    }
  .balanceHeader h6 {
    font-size: 0.8rem;
  }
  .balanceHeader img {
    height: 20px;
    width: 20px;
  }
  .buildingInfo {
    display: block;
    text-align: center;
  }
  .InfoColumn{
    display: block ;
    text-align: center;
    width: 100%;

  }
  .defaultH2{
    font-size: 1.2rem;
    padding: 1rem;
  }
  .listItemInfo{
    display: block;
  }

  .defaultP {
    font-size: 0.45rem;
    margin-top: 15%;
    font-weight: 500;
  }

  .listItemInfo img{
    height: 120px;
    width: 160px;
    left: 0;
    justify-self: center;
  }
  .viewGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    width: 20rem !important;
    height: 20rem !important;
    padding: 0.2rem;
    transform:
    perspective(600px)
    rotateY(0deg) scale(1)
    rotateX(10deg);
    transition: 0.6s ease all;
    background-color: khaki;
    border-radius: 10px;
  }
  
.item {
  height: fit-content;
  background-color: greenyellow;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 0.2rem 0.02rem rgba(0, 0, 0, 0.5);
}
.landGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-gap: 2px; */
  width: 17rem;
  height: 17rem;
  padding: 0.2rem;
  transform:
  perspective(300px)
  rotateY(0deg) scale(1)
  rotateX(5deg);
  transition: 0.6s ease all;
  background-color: khaki;
  border-radius: 10px;
}
.overlay .card {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
}


@media (min-width: 768px) and (max-width: 1023px) {
  .warImg {
    width: 100%;
  }
  .buildingCard img {
    height: 160px;
    width: 160px;
    max-width: 200px;
    padding: 0px;
  }
  .buildingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    width: 100%;
    min-width: 160px;
    background-color: var(--lightTransaprent);
  }

  .viewGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    width: 25rem !important;
    height: 25rem !important;
    padding: 0.2rem;
    transform:
    perspective(600px)
    rotateY(0deg) scale(1.1)
    rotateX(20deg) rotateZ(-10deg);
    transition: 0.6s ease all;
    background-color: khaki;
    border-radius: 10px;
  }
  
.item {
  height: fit-content;
  background-color: greenyellow;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 0.2rem 0.02rem rgba(0, 0, 0, 0.5);
}
.overlay .card {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
}
