@tailwind base;
@tailwind components;
@tailwind utilities;


.greenButton {
  @apply py-3 px-7 w-fit  bg-gradient-to-l  to-[#75E5F4] from-[#9FFFCF]  text-black rounded-[0.8rem] text-[0.8rem] font-semibold   hover:from-[#9168FB] hover:to-[#9168FB] hover:border-[#9168FB];
}

.tw-connect-wallet{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.15) !important;
  /* background-color: transparent !important; */
  color: white !important;
  border-radius: 1rem !important;
  height: 3.5rem !important;
  opacity: 0.9 !important;
  filter: blur(15px) ; /* Adjust the blur radius as per your requirement */
  padding-inline: 1rem !important;

}
.tw-connect-wallet:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  /* box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.5) !important; */
  transition:  all 0.15s ease-in-out;;
}
.tw-connected-wallet {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  height: 3.5rem !important;
  border-radius: 1rem !important;

}
.tw-connected-wallet__balance {
  color: rgb(209, 209, 209) !important;
}
.question {
  transition: max-height 0.3s ease-out;
  max-height: 3rem;
  overflow: hidden;
}

.opened {
  max-height: 20rem; /* Set an appropriate value for your content */
}

.bgCircle {
  width: 20rem;
  height: 20rem;
  top: -5rem;
  left: -10rem;
  background-color: #4caf50; /* Change the background color as needed */
  position: absolute;
  border-radius: 50%;
  filter: blur(8rem);
  z-index: -10;
}

.gradientParagraph{
  background: linear-gradient(
    to right,
    rgb(68, 208, 94),
    rgb(68, 208, 94),
    rgb(32, 32, 32),
    rgb(32, 32, 32),
    rgb(32, 32, 32)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientTitle{
  background: linear-gradient(
    to right,
    #1ca453,
    /* #2E4F3B, */
    rgb(32, 32, 32)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}