@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.tw-connect-wallet{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.15) !important;
  /* background-color: transparent !important; */
  color: white !important;
  border-radius: 1rem !important;
  height: 3.5rem !important;
  opacity: 0.9 !important;
  filter: blur(15px) ; /* Adjust the blur radius as per your requirement */
  padding-inline: 1rem !important;

}
.tw-connect-wallet:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  /* box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.5) !important; */
  transition:  all 0.15s ease-in-out;;
}
.tw-connected-wallet {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  height: 3.5rem !important;
  border-radius: 1rem !important;

}
.tw-connected-wallet__balance {
  color: rgb(209, 209, 209) !important;
}
